* {
	font-family: Verdana, Arial, sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 1.75em;
	text-align: center;
	padding:0 0 15px 0;
}

p {
	clear: right;
	padding: 0 10px 0 10px;
}

.title {
	font-size: 1.25em;
	float: right;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	padding: 0 40px 0 40px;
}

#chicken {
	background-color: pink;
}

#beef {
	background-color: tomato;
	color: white;
}

#sushi {
	background-color: yellow;
}

@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		border: 1px solid black;
		background-color: linen;
		margin: 0 1.5% 3% 1.5%;
		width: 30.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12 {
		float: left;
		border: 1px solid black;
		background-color: linen;
		margin: 0 1.5% 3% 1.5%;
	}
	.col-md-6 {
		width: 47%;
	}
	.col-md-12 {
		width: 97%;
	}
}

@media (max-width: 767px) {
	.col-sm-12 {
		border: 1px solid black;
		background-color: linen;
		margin: 0 1.5% 3% 1.5%;
		width: 97%;
	}
}